<footer class="navbar footer footer--{{modifier}}">
    <div class="footer__logo">&copy; Eduard Arnedo Hidalgo</div>
    <div class="footer__links">
        <a href="index.html" class="footer__link footer__link--{{modifier}}">Front page</a>
        <a href="members.html" class="footer__link footer__link--{{modifier}}">Members</a>
        <a href="bibliography.html" class="footer__link footer__link--{{modifier}}">Bibliography</a>
        <a href="contact.html" class="footer__link footer__link--{{modifier}}">Contact</a>
    </div>
    <div class="footer__social-media-icons">
        <a href="#" class="footer__social-media-link footer__social-media-link--{{modifier}}" aria-label="Link to google plus profile"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="footer__social-media-link footer__social-media-link--{{modifier}}" aria-label="Link to facebook profile"><i class="fab fa-facebook"></i></a>
        <a href="#" class="footer__social-media-link footer__social-media-link--{{modifier}}" aria-label="Link to twitter profile"><i class="fab fa-twitter"></i></a>
    </div>
</footer>
<script src="./assets/scripts/main.js"></script>
