<footer
    class="w-95 md:w-4/5 mx-auto flex flex-wrap flex-col md:flex-row mt-12 mb-4 pt-8 pb-2 border-site_blue border-solid border-t-2 justify-between items-center">
    <div class="ml-0 mb-4 md:ml-8 md:mb-0 font-body">&copy; Eduard Arnedo Hidalgo</div>
    <div class="flex flex-col md:flex-row mb-4 md:mb-0 font-body">
        <a href="index.html" class="text-site_blue underline text-center md:text-left m-0 md:mx-8">Front page</a>
        <a href="members.html" class="text-site_blue underline text-center md:text-left m-0 md:mx-8">Members</a>
        <a href="bibliography.html"
           class="text-site_blue underline text-center md:text-left m-0 md:mx-8">Bibliography</a>
        <a href="contact.html" class="text-site_blue underline text-center md:text-left m-0 md:mx-8">Contact</a>
    </div>
    <div class="md:mr-8 sm:mr-0">
        <a href="#" class="mx-4 text-site_blue" aria-label="Link to google plus profile"><i
            class="fab fa-google-plus-g"></i></a>
        <a href="#" class="mx-4 text-site_blue" aria-label="Link to facebook profile"><i
            class="fab fa-facebook"></i></a>
        <a href="#" class="mx-4 text-site_blue" aria-label="Link to twitter profile"><i class="fab fa-twitter"></i></a>
    </div>
</footer>
<script src="./assets/scripts/main.js"></script>
