<nav class="flex flex-col md:flex-row py-8 mb-4 justify-between items-center border-b-2 border-solid border-site_blue">
    <img class="ml-0 md:ml-1 mb-1 md:mb-0" alt="Logo gopher" src="assets/images/gopher.png" width="45" height="40">
    <ul class="flex flex-col md:flex-row justify-end md:mr-8 text-center md:text-left mr-0 mb-0 pl-0">
        <li class="mr-0 md:mr-8 list-none"><a href="members.html" class="text-site_blue underline font-body">Members</a>
        </li>
        <li class="mr-0 md:mr-8 list-none"><a href="bibliography.html" class="text-site_blue underline font-body">Bibliography</a>
        </li>
        <li class="mr-0 md:mr-8 list-none"><a href="contact.html" class="text-site_blue underline font-body">Contact</a>
        </li>
    </ul>
</nav>
