.contact {
  @include default-container;

  display: flex;
  flex-direction: column;

  &__header {
    @include default-header;

    font-size: 200%;
    margin-bottom: 2rem;

    @include responsive(mobile) {
      font-size: 150%;
    }
  }

  &__form {
    width: 60%;
    margin: 0 auto 2rem auto;

    @include responsive(mobile) {
      width: 90%;
    }
  }
}
