.index__body {
  background-color: #c73f3f;
}

.index__grid {
  display: grid;

  @supports (display: grid) {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "a a r r n n"
                         "a a r r d d"
                         "s s s s d d"
                         "m b b q q q"
                         "m b b . c c"
                         "m p p p c c";

    &-a {
      grid-area: a;
      background-image: url(../images/axwell.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &-b {
      grid-area: b;
      background-image: url(../images/sebastian_ingrosso.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &-c {
      grid-area: c;
      background-image: url(../images/steve_angello.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &-d {
      grid-area: d;
      background-image: url(../images/swedish_house_mafia.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &-m {
      grid-area: m;
      background-color: #975a5a;
    }

    &-n {
      grid-area: n;
      background-color: #7f0101;
    }

    &-p {
      grid-area: p;
      background-color: #e89797;
    }

    &-q {
      @include default-header;
      @include white-border;

      grid-area: q;
      background-color: rgba(151, 86, 86, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;

      @include responsive(mobile) {
        font-size: 100%;
      }
    }

    &-r {
      grid-area: r;
      background-color: #5d2b2b;
    }

    &-s {
      @include default-header;
      @include white-border;

      grid-area: s;
      background-color: rgba(151, 86, 86, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;

      @include responsive(mobile) {
        font-size: 100%;
      }
    }
  }
}
